body{
    margin: 0px;
    padding: 0%;
    background-image: URL(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-size: 100px;
    background-color: rgba(240, 255, 255, 0.33);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    color: black;
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    user-select: none;
}